<%- include('header'); -%>




<main>

<h1>Welcome </h1><br>

<span>Here is our beautiful Appp <%= UserMail %>  </span></main>
<form action="/logout" method="POST">
<button>Logout</button>


</form>












<%- include('footer'); -%>